body {
    background-color: #D6CBA7;    
    margin: auto; 
    display: block; 
    font-size: 18px; 
    background-image: url(https://image.winudf.com/v2/image1/Y29tLmx1eC5saXZlLndhbGxwYXBlcnMuYW5kLmNyZWF0aXZlLmZhY3Rvcnkud2FsbHBhcGVycy5iYWNrZ3JvdW5kcy5oZC5sd3AuZ3VpdGFyLmxpdmUud2FsbHBhcGVyX3NjcmVlbl8zXzE1NDk4NTgzNjRfMDQ5/screen-3.jpg?fakeurl=1&type=.jpg); 
    color: black; 
}   

#title {
    font-family: 'Crete Round', serif; 
    font-size: 45px; 
    text-align: center;
} 

#description {
    font-size: 23px; 
    text-align: center;
}

#survey-form {
    margin: 2rem 22rem 6rem 22rem;  
    padding: 3rem 4rem 8rem 4rem;
    background-color: #DDD7C4;  
    opacity: 0.95;
    border-radius: 5px; 
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-align: left;  
    line-height: auto; 

    
} 

#name {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

#email { 
    width: 100%; 
    appearance: auto;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

#number { 
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    height: 100%; 
}


.instruments {
    text-align: center;
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

#form-class {
    color: black; 
    margin: 0 auto auto;
    padding: 0.35rem;
    
}  

#comments {
    position: relative;
    left: ;  
    width: 99%; 
    height: 100%; 
    padding: 0.125rem; 
    resize: vertical;
}


.submit-button {
    display: block;
    width: 100%;
    padding: 0.55rem;
    background:whitesmoke;
    color: black;
    border-radius: 5px;
    cursor: pointer;  
     
}  

#submit {
    position: relative; 
    top: 2rem;
}

#dropdown { 
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 101%;
    height: 100%; 
} 
 
.instruments {
    text-align: left;
} 

#comentary {
    position: relative; 
    top: 0px;
} 

